html {
  background-color: rgb(238, 231, 238);
  --secondary-color: rgb(120, 43, 240);
  --accent-color: rgb(216, 199, 250);
  --purple-700: rgb(47, 16, 97);
}

body {
  margin: 0;

  font-family: sans-serif;
}

header {
  padding: 3rem;

  color: white;
  text-align: center;

  background-color: var(--secondary-color);
}

h1 {
  margin-top: 0;
}

main {
  margin-top: 4rem;
}

/*form styling*/
aside {
  text-align: center;

  background-color: white;
}

aside h2 {
  margin-block: 0.5rem;
}

.modal form {
  margin-inline: auto;
}

.modal label {
  font-weight: bold;
}

.modal input {
  display: block;
  margin-inline: auto;
  margin-top: 0.5rem;
  margin-bottom: 0;
  min-width: 40%;
  height: 1.5rem;

  border: 1px solid lightgray;
}

.modal input:focus {
  outline: none;
  border: 1px solid var(--secondary-color);
}

.error input {
  border: 1px solid red;
}

#error-msg {
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

/*player info styling*/
#players-info ul {
  padding: 0;
  margin-top: 0;
  margin-inline: auto;
  display: flex;
  justify-content: space-evenly;
  max-width: 45rem;

  list-style: none;
}

#players-info li {
  padding-inline: 4rem;
  padding-block: 2rem;
  min-width: 25%;

  text-align: center;

  background-color: rgb(230, 220, 250);
  border-radius: 2px;
  box-shadow: 1px 2px 4px rgb(192, 192, 192);
}

#players-info li h2 {
  margin: 0;
  font-size: 1rem;
}

#players-info li p {
  margin-block: 0.5rem;
}

.players {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(92, 25, 155);
}

.user-chars {
  margin-bottom: 1rem;

  font-size: 2rem;
  font-weight: bold;
}

/*game area styling*/
#new-game-btn {
  display: block;
  margin-inline: auto;
  margin-bottom: 3rem;
}

#game {
  display: none;
}

#winner-info {
  display: none;
  width: 50%;
  margin: auto;
  padding: 1.5rem;

  color: white;
  text-align: center;

  background-color: var(--purple-700);
}

#winner-info h3 {
  font-size: 3rem;
  margin: 0;
}

#game p {
  text-align: center;
}

#active-player {
  font-weight: bold;
  color: var(--purple-700);
}

#game ol {
  padding: 0;
  display: grid;
  grid-template-rows: repeat(3, 6rem);
  grid-template-columns: repeat(3, 6rem);
  justify-content: center;

  gap: 0.5rem;
  list-style: none;
}

#game li {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: sans-serif;
  color: white;
  font-size: 3rem;
  font-weight: 900;

  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
}

#game li:hover {
  background-color: var(--secondary-color);
}

#game li.disable-block{
  cursor: default;
  background-color: var(--secondary-color);
}